{{- $key_path := ".chezmoi/dotfiles/keys/key.txt" -}}
{{- $pub_key_path := ".chezmoi/dotfiles/keys/key_pub.txt" -}}
{{- $tools_install_path := ".local/bin" -}}

sourceDir = "~/.chezmoi/dotfiles"

encryption = "age"
[age]
identity = "~/{{- $key_path -}}"
recipientsFile = "~/{{- $pub_key_path -}}"

[status]
exclude = ["scripts"]

[diff]
exclude = ["scripts"]
pager = "delta"

[merge]
command = "nvim"
args = [
  "-d",
  {{ printf "%q" "{{ .Destination }}" }},
  {{ printf "%q" "{{ .Source }}" }},
  {{ printf "%q" "{{ .Target }}" }}
]

[data]
{{- if env "IS_PDE" }}
work = true
{{- else }}
work = false
{{- end }}
keyPath = "{{- $key_path -}}"
pubKeyPath = "{{- $pub_key_path -}}"
toolsInstallPath = "{{- $tools_install_path -}}"
